body {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

p {
    margin: 0 0 1em;
}

.logo {
    display: block;
    margin: 1em auto;
    max-width: 100%;
}

a {
    flex: 1;
    text-decoration: none;
    outline: none;
    text-align: center;
    line-height: 3;
    color: black;
  }

a:link,
a:visited,
a:focus {
  background: palegoldenrod;
  color: black;
}

a:hover {
    background: orange;
  }

  a:active {
    background: darkred;
    color: white;
  }
